<div ng-controller="applicationCntrl">
	<!--Header HTML Starts Here-->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-4"><a id="logo" href="index.html"><img src="assets/logo.jpg" class="img-responsive" alt="" title="wordpress"></a> </div>
				<div class="col-xs-12 col-sm-9 col-md-8">
					<!--<div class="topPhone pull-right"><p>+1-9876543210</p></div>-->
					<div class="clearfix"></div>
					<nav class="navbar marginBottom">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<nav>
									<ul class="nav navbar-nav mainNavigation">
										<li class="active"><a href="" ng-click="homePage()">Home </a></li>
										<li><a href="javascript:void(0)"> About Us </a></li>
										<li><a href="javascript:void(0)">Services </a></li>
										<li><a href="javascript:void(0)"> Why Choose Us </a></li>
										<li><a href="javascript:void(0)">Contact Us </a></li>
									</ul>
								</nav>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!--Header HTML Ends Here--> 
	<div class="panel-heading">
		<div class="panel-title text-center">
			<h1 class="title">Company Name</h1>
			<hr />
		</div>
	</div> 
	<div class="main-login main-center" style="max-width: 650px;">
		<form class="form-horizontal" name="signupForm" novalidate>

			<div class="form-group">
				<label for="name" class="cols-sm-2 control-label">Firstname</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="firstname" id="name"  placeholder="Enter your Name" ng-model="user.firstname"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="cols-sm-2 control-label">Lastname</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="lastname" id="name"  placeholder="Enter your Name" ng-model="user.lastname"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="cols-sm-2 control-label">Your Email</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email" ng-model="user.email"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="username" class="cols-sm-2 control-label">Phone Nummber</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="phone" id="username"  placeholder="Enter your Phonenumber" ng-model="user.phone"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="cols-sm-2 control-label">Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" ng-model="user.password"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
					</div>
				</div>
			</div>

			<div class="form-group ">
				<button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="signup(user)">Register</button>
			</div>
			<div class="login-register">
				<a href="/">Login</a>
			</div>
		</form>
	</div>
	<footer class="footer">
	<p class="fist-line">Robin Thomas</p>
	</footer>


</div>